@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'ManropeEB';
  src: url("../fonts/static/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: 'ManropeB';
  src: url("../fonts/static/Manrope-Bold.ttf");
}

@font-face {
  font-family: 'ManropeEL';
  src: url("../fonts/static/Manrope-ExtraLight.ttf");
}

@font-face {
  font-family: 'ManropeL';
  src: url("../fonts/static/Manrope-Light.ttf");
}